.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logoAndLinks {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.img {
  height: 2rem;
}

.actions {
  display: flex;
  gap: 1rem;
  align-items: center;
}
