.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 90%;
  margin: 0 auto;
}

.title {
  font-weight: 600;
  font-size: 1.75rem;
  margin-top: 0.5rem;
  color: #333;
  text-align: center;
}

.message {
  font-style: italic;
  color: #666;
  text-align: center;
  margin: 2rem 0;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 14rem);
  gap: 1.5rem;
  justify-content: center;
  padding: 0.5rem;
}

.cardButton {
  cursor: pointer;
  background: none;
  padding: 0;
  border: none;
  outline: none;
}

.cardButton:focus {
  outline: none;
}
